{% extends "core/base.html" %}

{% load i18n %}

{% block content %}
<div class="profile">
  <div class="row">
    <div class="three columns navigation">{% include "core/navigation.html" with active="suggest_city" %}</div>
    <div class="eight columns">
      <h1 class="subheader">{% trans "Suggest a city" %}</h1>
      {% include "core/sys/messages.html" %}

      <div class="panel">
        <form method="post" action="{% url "suggest_city" %}">
            {% csrf_token %}

            {% for field in form %}
              <div class="row">
                <div class="four mobile-one columns">
                  <label class="right inline">{{ field.label }}:</label>
                </div>
                <div class="eight mobile-three columns {% if field.errors %}error{% endif %}">
                  {{ field }}
                  <small>{{ field.errors|join:"; " }}</small>
                </div>
              </div>
            {% endfor %}
            <hr>
            <div class="row">
              <div class="four monile-one columns">&nbsp;</div>
              <div class="eight mobile-three columns">
                <button class="success button">{% trans "Save" %}</button>
              </div>
            </div>
        </form>
      </div>
    </div>
    <div class="one columns">&nbsp;</div>

  </div>
</div>
{% endblock content %}