body {
    background-color:#E5C893;
    font-size:100%;
}

a:link {
    font-size:1.5em;
}


.top-bar {
    color:#fff;
    padding-left:1.5em;
    padding-right:1.5em;
    margin:0;
    background-color:#E82C0C;
}

.top-bar h1 {
    margin:0;
    padding:0;
    color:#fff;
    display:inline;
    line-height:22pt;
}

.top-bar h1 a {
    margin:0;
    padding:0;
    text-shadow:1px 1px 2px #565656;
    color:#fff;
    font-size:22pt;
    line-height:22pt;
}

.auth-area {
    float:right;
    font-size:12pt;
}

.auth-area a.profile-link {
    color:#fff;
    font-size:12pt;
    font-weight:bold;
    border-bottom:2px dashed #fff;
}

.auth-area a:hover {
    border-bottom:2px solid #fff;
}

footer {
    padding-top:2em;
    padding-bottom:4em;
    background-color:#000;
}

.splash {
    background-color:#FFFFC7;
    padding:2em;
}

.splash h1, h3 {
    margin:0;
}

.profile {
    background-color:#fff;
    padding-bottom:5em;
}

.navigation {
    padding-top:40pt;
}
